.contact {
    display: flex;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
}

.success-message {
    color: red;
    border: 1px red solid;
    border-radius: 50px;
    padding: 5px 10px;
}

.mail-icon {
    color: rgb(43, 112, 231);
    font-size: 100px;
    padding: 35px;
    border-radius: 100px;
    border: 2px solid rgb(43, 112, 231) ;
    width: fit-content;
}

form {
    min-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-family: 'Monteserat';
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}