footer {
    width: 100%;
    height: 300px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #272626;
    color: white;
    margin-top: 50px;
}

footer p {
    text-align: center;
    font-size: smaller;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
}

.address {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.address span {
    margin-bottom: 10px;
    text-align: center;
}

.address a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.socials {
    display: flex;
    width: 70%;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 20px;
}

.social-link {
    color: white;
    font-size: 30px;
}

.headings {
    width: 40%;
}

.headings h2, .address h2 {
    padding-bottom: 7px;
    border-bottom: #965729 solid 3px;
}

.headings h2 {
    margin-bottom: 35px;
}

.headings li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.headings a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}