header {
    background-color: #272626;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-around;
}

nav {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 600
}

